<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
                <ion-nav-buttons side="left">
                    <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
                </ion-nav-buttons>
                <ion-nav-title data-comp-id="nav-title.1">Allocate Hours</ion-nav-title>
                <ion-nav-buttons side="right">
                    <button class="button button-icon ion-home" data-comp-id="button.2"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
        </div>
        <div data-comp-id="div.2">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1">
                    <select-list data-comp-id="selectList.1" label-class=" required"
                        ng-model="data.customer">Select Customer...</select-list>
                </div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2">
                    <select-list data-comp-id="selectList.2" label-class=" required"
                        ng-model="data.project">Select Project...</select-list>
                </div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.3">
                    <select-list data-comp-id="selectList.3" ng-model="data.function">Select Function...</select-list>
                </div>
            </div>
        </div>
        <div class="row" data-comp-id="row.4">
            <div class="col" data-comp-id="column.4">
                <label class="item item-input item-stacked-label" data-comp-id="textInput.1">
                    <span class="input-label required">0</span>
                    <input ng-model="data.hours" type="number">
                </label>
            </div>
        </div>
        <div class="row" data-comp-id="row.5">
            <div class="col" data-comp-id="column.5">
                <button class="button button-block button-positive" data-comp-id="button.3">Submit</button>
            </div>
        </div>
    </ion-content>
</ion-view>