<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
                <ion-nav-buttons side="left">
                    <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
                </ion-nav-buttons>
                <ion-nav-title data-comp-id="nav-title.1">Allocate Hours</ion-nav-title>
                <ion-nav-buttons side="right">
                    <button class="button button-icon ion-home" data-comp-id="button.2"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
        </div>
        <div data-comp-id="div.2">
            <div class="row" data-comp-id="row.1" style="padding: 60px 10px 10px;">
                <div class="col" data-comp-id="column.1">
                    <select-list data-comp-id="selectList.3" label-class=" required"
                        ng-model="data.function" select-class=" item-stacked-label item-outside-label"
                        title="Choose Customer:">Customer:</select-list>
                    <select-list data-comp-id="selectList.1" label-class=" required"
                        ng-model="data.project" select-class=" item-stacked-label item-outside-label"
                        title="Choose Project:">Project:</select-list>
                    <select-list data-comp-id="selectList.2" ng-model="data.function"
                        select-class=" item-stacked-label item-outside-label" title="Choose Function">Function:</select-list>
                </div>
            </div>
        </div>
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <label class="item item-input item-stacked-label item-outside-label"
                    data-comp-id="textInput.1" style="padding: 0px 10px 10px;">
                    <span class="input-label required">Hours</span>
                    <input ng-model="data.hours" type="number">
                </label>
            </div>
        </div>
        <div class="row" data-comp-id="row.3">
            <div class="col" data-comp-id="column.3">
                <button class="button button-block button-positive" data-comp-id="button.3">Submit</button>
            </div>
        </div>
    </ion-content>
</ion-view>