<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1">
        <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
            <ion-nav-buttons side="left">
                <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
            </ion-nav-buttons>
            <ion-nav-title data-comp-id="nav-title.1">Enter Hours</ion-nav-title>
            <ion-nav-buttons side="right">
                <button class="button button-icon ion-home" data-comp-id="button.2"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </ion-content>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.2">
        <!--Form Contents-->
        <div data-comp-id="div.1" style="margin: 10% 10% 4%;">
            <div class=" light" data-comp-id="text.1" style="font-size: 18px;">Name</div>
            <select-list data-comp-id="selectList.1">Input Label</select-list>
            <label class="item item-input" data-comp-id="textInput.1"
                style="margin: 2px 0px; border-radius: 10px;">
                <i class="icon placeholder-icon positive ion-ios-contact"></i>
                <input ng-model="data.customer" type="text">
            </label>
        </div>
        <div data-comp-id="div.2" style="margin: 2% 10% 4%;">
            <div class=" light" data-comp-id="text.2" style="font-size: 18px;">Phone</div>
            <label class="item item-input" data-comp-id="textInput.2"
                style="margin: 2px 0px; border-radius: 10px;">
                <i class="icon placeholder-icon positive ion-ios-telephone">Input Label</i>
                <input ng-model="data.Phone" type="text">
            </label>
        </div>
        <div data-comp-id="div.3" style="margin: 2% 10%;">
            <div class=" light" data-comp-id="text.3" style="font-size: 18px;">Email</div>
            <label class="item item-input" data-comp-id="textInput.3"
                style="margin: 2px 0px; border-radius: 10px;">
                <i class="icon placeholder-icon ion-ios-email positive">Input Label</i>
                <input ng-model="data.Email" type="text">
            </label>
        </div>
        <div data-comp-id="div.4" style="margin: 2% 10%;"></div>
        <div data-comp-id="div.5" style="margin: 2% 10%;"></div>
        <div data-comp-id="div.6" style="width: 80%; margin: 10%;">
            <div class="row" data-comp-id="row.1" style="margin: 0px;">
                <div class="col" data-comp-id="column.1">
                    <button class="button button-block" data-comp-id="button.3"
                        style="border-color: rgba(255, 255, 255, 0);">Submit</button>
                </div>
            </div>
        </div>
        <!--Form Contents-->
    </ion-content>
</ion-view>