<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1">
        <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
            <ion-nav-buttons side="left">
                <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
            </ion-nav-buttons>
            <ion-nav-title data-comp-id="nav-title.1">Allocate Hours</ion-nav-title>
            <ion-nav-buttons side="right">
                <button class="button button-icon ion-home" data-comp-id="button.2"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </ion-content>
    <ion-content class="" data-comp-id="ionic-content.2">
        <!--Form Contents-->
        <div data-comp-id="div.1" style="margin: 10% 10% 2%; padding: 30px;">
            <label class="item item-input light-bg" data-comp-id="textInput.1">
                <span class="input-label dark">Customer</span>
                <input ng-model="data.customer" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.2">
                <span class="input-label">Project</span>
                <input ng-model="data.project" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.3">
                <span class="input-label">Function</span>
                <input ng-model="data.function" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.4">
                <span class="input-label">Hours</span>
                <input ng-model="data.hours" type="text">
            </label>
        </div>
        <div data-comp-id="div.2" style="width: 80%; margin: 10%;">
            <div class="row" data-comp-id="row.1" style="margin: 0px;">
                <div class="col" data-comp-id="column.1">
                    <button class="button button-block button-positive" data-comp-id="button.3"
                        ng-click="app.action('enterhourspopup', 'clickConfirm', this)"
                        style="border-color: rgba(255, 255, 255, 0);">Submit</button>
                </div>
            </div>
        </div>
        <!--Form Contents-->
    </ion-content>
</ion-view>