<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1" ng-repeat="item in data.mytimetable">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1">
                    <div class=" positive" data-comp-id="text.1" ng-bind="item.week"
                        style="font-size: 20px; line-height: 28px;">Some text</div>
                    <div class=" dark" data-comp-id="text.2" ng-bind="item.timeframe"
                        style="font-size: 12px;">Some text</div>
                    <div class=" dark" data-comp-id="text.3" ng-bind="item.allocatedhours"
                        style="font-size: 16px; line-height: 24px;">Some text</div>
                    <div class=" dark" data-comp-id="text.4" ng-bind="item.releasedhours"
                        style="font-size: 16px; line-height: 24px;">Some text</div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>