<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.2" ng-repeat="item in data.mytimetable">
            <div class="row" data-comp-id="row.2" ng-repeat="item in data.mytimetable">
                <div class="col" data-comp-id="column.3">
                    <div data-comp-id="text.3">Some text</div>
                    <div data-comp-id="text.4">Some text</div>
                    <div data-comp-id="text.5">Some text</div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>