<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1" ng-repeat="item in data.mytimetable">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.2">
                    <div data-comp-id="text.5" style="font-weight: bold;">Week:</div>
                    <div data-comp-id="text.6" style="font-weight: bold;">Timeframe:</div>
                    <div data-comp-id="text.7" style="font-weight: bold;">Allocated Hours:</div>
                    <div data-comp-id="text.8" style="font-weight: bold;">Released Hours:</div>
                </div>
                <div class="col" data-comp-id="column.1">
                    <div data-comp-id="text.1" ng-bind="item.week">Some text</div>
                    <div data-comp-id="text.2" ng-bind="item.timeframe">Some text</div>
                    <div data-comp-id="text.3" ng-bind="item.allocatedhours">Some text</div>
                    <div data-comp-id="text.4" ng-bind="item.releasedhours">Some text</div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>